<%- include('../partials/user/header') %>

        <!-- Begin Hiraola's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Other</h2>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li class="active">OTP Verification</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Hiraola's Breadcrumb Area End Here -->
        <!-- Begin Hiraola's Login Register Area -->
        <div class="hiraola-login-register_area">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                        <!-- Reset Password Form -->
                        <form action="/reset-password" method="post" id="resetPasswordForm">
                            <div class="login-form">
                                <h4 class="login-title">Reset Password</h4>
                                <div class="row">
                                    <div class="col-md-12 col-12 mb-3">
                                        <p class="text-center">Please enter your new password below.</p>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <label>New Password*</label>
                                        <input type="password" class="form-control" name="newPassword">
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <label>Confirm New Password*</label>
                                        <input type="password" class="form-control" name="confirmPassword">
                                    </div>
                                    <div class="col-md-12 mt-4">
                                        <button type="submit" class="hiraola-login_btn">Reset Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- Hiraola's Login Register Area  End Here -->
        <%- include('../partials/user/footer') %>